* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
   background-color: #103B4C;
   font-family: sans-serif;
}

h1 {
    text-align: center;
    padding: 20px;

    font-size: 100px;
    color: white;

}

#container {
    display: flex;
    flex-wrap: wrap;

    gap: 25px;

    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    max-width: 1000px;

}

.square {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;

}

/* BG COLORS */
.green {
    background-color: #39BA8B;
}
.yellow {
    background-color: #F6CE65;
}
.red {
    background-color: #F0466F;
}
.blue {
    background-color: #3189B2;
}